# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
os

# data science
numpy
pandas
scikit-learn
textblob

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
snscrape

# utilities
six>=1.14
joblib
memoized-property
termcolor

#translators
deep_translator
